h1 {

  color: red;
  font-size: 100px;


}

#hamburger{
				width:500px;
				height:325px;
				position:absolute;
				top:50%;
				left:50%;
				margin:-162px 0 0 -250px;
}
img {
  animation: 3s infinite linear;
  position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -(X/2)px;
    margin-top: -(Y/2)px;
  animation-duration: 2s;
  animation-name: spin;
  animation-iteration-count: infinite;


}


@keyframes spin {
  from {
    top: 50%;
    left: 50%;
    margin-left: -(X/2)px;
    margin-top: -(Y/2)px;

  }
  to {
    

    transform: rotate(360deg);

  }


}
